* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    background: rgb(172, 215, 255)
}

.title {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.container {
    display: flex;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 35%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.card.large {
    width: 65%;
}

.card.demo {
    max-width: 1100px;
    margin: 30px auto 0;
}

h2 {
    color: #000000;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
textarea {
    height: 80px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    width: 50%;
}